.L{
    background-color: aqua;
}
.A{
    background-color: green;
}
.L{
    background-color: lightgray;
}
#hii{
    background-color: lightpink;
}
#lalu{
    background-color: lightcoral;
}
#owl{
    background-color: red;
}